:root {
  /*background colors*/
  --clr-bcg: #fef9f9;
  --clr-bcg-modal: #2b2b2b99;

  /*text colors*/
  --clr-primary: #111111;
  --clr-primary-inv: #fef9f9;
  --clr-secondary: #888888;

  /*background & text colors*/
  --clr-brand-yellow: #ffc107;
  --clr-brand-blue: #54adff;
  --clr-brand-blue-lt: #cce4fb;
  --clr-brand-blue-grd: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  --clr-brand-green: #00c3ad;
  --clr-brand-red: #f43f5e;
}
