@import 'css/root.css';
@import 'css/fonts.css';

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--clr-bcg);
  color: var(--clr-primary);
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

